body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gameCanvas {
    border: none;
    background-color: #19A7CE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 48px;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.button-container {
    margin-top: 20px;
}

.restart-button {
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #FF5252;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restart-button:hover {
    background-color: #FF0000;
}
